<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
  <dllmap dll="SDL_ttf" os="windows" target="SDL_ttf.dll"/>
  <dllmap dll="libfreetype-6" os="windows" target="libfreetype-6.dll"/>
  <dllmap dll="zlib1" os="windows" target="zlib1"/>
	<dllmap dll="SDL2" os="osx" target="libSDL2.dylib"/>
	<dllmap dll="SDL2" os="linux" target="libSDL2-2.0.so.0"/>
</configuration>
